.select-container
{
width: 249px;
height: 40px;
border-radius: 2px;
border:1px solid #d7dfe9;
background-color:white;
}
.border-container
{
  width: 249px;
  height: 40px;
  border-radius: 2px;
  border:1px solid red;
}
.option
{
    height: 24px;
font-family: HKGrotesk;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.71;
letter-spacing: normal;
color: steel;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
/* cursor:${props=>props.roleType==="user"?"none":"pointer"}
box-shadow: 0 0 0 1px silver;
&:disabled{
  opacity: 0.6;
}`          */